{{page-title 'AddBook'}}

<div class='container-fluid pb-3 mt-5'>

  <div class='container shadow mt-5 p-5'>
    <form {{on 'submit' this.createBook}}>

      <div class='row mb-4'>
        <div class='col'>
          <div class='form-outline'>
            <label for='bookName' class='form-label'>Book name</label>
            <Input
              @type='text'
              id='bookName'
              @value={{this.bookName}}
              class='form-control'
              required
            />

          </div>
        </div>
        <div class='col'>
          <div class='form-outline'>
            <label for='price' class='form-label'>Price</label>
            <Input
              @type='number'
              id='price'
              @value={{this.price}}
              class='form-control'
              required
            />

          </div>
        </div>
      </div>

      <div class='mb-3 mt-3'>
        <label for='authorName' class='form-label'>Author Name</label>
        <Input
          @type='text'
          id='authorName'
          @value={{this.author}}
          class='form-control'
          required
        />
      </div>
      <div class='mb-3 mt-3'>
        <label for='publisher' class='form-label'>Publisher</label>
        <Input
          @type='text'
          id='publisher'
          @value={{this.publisher}}
          class='form-control'
          required
        />
      </div>
      <div class='mb-3 mt-3'>
        <label for='releaseDate' class='form-label'>Released Date</label>
        <Input
          @type='date'
          id='releaseDate'
          @value={{this.releaseDate}}
          class='form-control'
          required
        />
      </div>

      <div class='row mb-4'>
        <div class='col'>
          <div class='form-outline'>
            <label for='width' class='form-label'>Width</label>
            <Input
              @type='text'
              id='width'
              @value={{this.width}}
              class='form-control'
              required
            />

          </div>
        </div>
        <div class='col'>
          <div class='form-outline'>
            <label for='height' class='form-label'>Height</label>
            <Input
              @type='text'
              id='height'
              @value={{this.height}}
              class='form-control'
              required
            />

          </div>
        </div>
      </div>
      <div class='row mb-4'>
        <div class='col'>
          <div class='form-outline'>
            <label for='language' class='form-label'>Language</label>
            <Input
              @type='text'
              id='language'
              @value={{this.language}}
              class='form-control'
              required
            />

          </div>
        </div>
        <div class='col'>
          <div class='form-outline'>
            <label for='pages' class='form-label'>No of Pages</label>
            <Input
              @type='text'
              id='pages'
              @value={{this.pages}}
              class='form-control'
              required
            />

          </div>
        </div>
      </div>

      <div class='mb-3 mt-3'>
        <label for='about' class='form-label'>About the Book</label>
        <Textarea
          @value={{this.about}}
          class='form-control'
          id='about'
          rows='6'
          required
        />

      </div>

      <div>
        <button type='submit' class='btn btn-outline-success'>Add</button>
      </div>
    </form>
  </div>

</div>