{{page-title 'EditBook'}}
<div class='container-fluid pb-3 mt-5'>
  <div class='container shadow mt-5 p-5'>

    <div class='row mb-4'>
      <div class='col'>
        <div class='form-outline'>
          <label for='bookName' class='form-label'>Book name</label>
          <Input
            @type='text'
            id='bookName'
            @value={{this.book.bookName}}
         
            class='form-control'
          />

        </div>
      </div>
      <div class='col'>
        <div class='form-outline'>
          <label for='price' class='form-label'>Price</label>
          <Input
            @type='number'
            id='price'
            @value={{this.book.price}}
            class='form-control'
          />

        </div>
      </div>
    </div>

    <div class='mb-3 mt-3'>
      <label for='authorName' class='form-label'>Author Name</label>
      <Input
        @type='text'
        id='authorName'
        @value={{this.book.author}}
        class='form-control'
      />
    </div>
    <div class='mb-3 mt-3'>
      <label for='publisher' class='form-label'>Publisher</label>
      <Input
        @type='text'
        id='publisher'
        @value={{this.book.publisher}}
        class='form-control'
      />
    </div>
    <div class='mb-3 mt-3'>
      <label for='releaseDate' class='form-label'>Released Date</label>
      <Input
        @type='date'
        id='releaseDate'
        @value={{this.book.releaseDate}}
        class='form-control'
      />
    </div>

    <div class='row mb-4'>
      <div class='col'>
        <div class='form-outline'>
          <label for='width' class='form-label'>Width</label>
          <Input
            @type='text'
            id='width'
            @value={{this.book.width}}
            class='form-control'
          />

        </div>
      </div>
      <div class='col'>
        <div class='form-outline'>
          <label for='height' class='form-label'>Height</label>
          <Input
            @type='text'
            id='height'
            @value={{this.book.height}}
            class='form-control'
          />

        </div>
      </div>
    </div>
    <div class='row mb-4'>
      <div class='col'>
        <div class='form-outline'>
          <label for='language' class='form-label'>Language</label>
          <Input
            @type='text'
            id='language'
            @value={{this.book.language}}
            class='form-control'
          />

        </div>
      </div>
      <div class='col'>
        <div class='form-outline'>
          <label for='pages' class='form-label'>No of Pages</label>
          <Input
            @type='text'
            id='pages'
            @value={{this.book.pages}}
            class='form-control'
          />

        </div>
      </div>
    </div>

    <div class='mb-3 mt-3'>
      <label for='about' class='form-label'>About the Book</label>
      <Textarea
        @value={{this.book.about}}
        class='form-control'
        id='about'
        rows='6'
      />

    </div>

    <div>
      <button
        type='button'
        class='btn btn-outline-success'
        {{on "click" this.editPost}}
      >Save</button>
    </div>
  </div>
</div>

{{outlet}}