{{page-title "EditBook"}}
<div class='container-fluid pb-3 mt-5'>
<div class='container shadow mt-5 p-5'>


    <div class='row mb-4'>
      <div class='col'>
        <div class='form-outline'>
           <label for='bookName' class='form-label'>Book name</label>
          <input
            type='text'
            id='bookName'
            value={{this.model.bookName}}
            onchange={{action (mut this.modelbookName) value='target.value'}}
            class='form-control'
           
          />

        </div>
      </div>
      <div class='col'>
        <div class='form-outline'>
         <label for='price' class='form-label'>Price</label>
          <input
            type='number'
            id='price'
            value={{this.model.price}}
            onchange={{action (mut this.model.price) value='target.value'}}
            class='form-control'
           
          />

        </div>
      </div>
    </div>

    <div class='mb-3 mt-3'>
      <label for='authorName' class='form-label'>Author Name</label>
      <input
        type='text'
        id='authorName'
        value={{this.model.author}}
        onchange={{action (mut this.model.author) value='target.value'}}
        class='form-control'
      />
    </div>
    <div class='mb-3 mt-3'>
      <label for='publisher' class='form-label'>Publisher</label>
      <input
        type='text'
        id='publisher'
        value={{this.model.publisher}}
        onchange={{action (mut this.model.publisher) value='target.value'}}
        class='form-control'
     
      />
    </div>
    <div class='mb-3 mt-3'>
        <label for='releaseDate' class='form-label'>Released Date</label>
      <input
        type='date'
        id='releaseDate'
        value={{this.model.releaseDate}}
        onchange={{action (mut this.model.releaseDate) value='target.value'}}
        class='form-control'
       
      />
    </div>

    <div class='row mb-4'>
      <div class='col'>
        <div class='form-outline'>
          <label for='width' class='form-label'>Width</label>
          <input
            type='text'
            id='width'
            value={{this.model.width}}
            onchange={{action (mut this.model.width) value='target.value'}}
            class='form-control'
            
          />

        </div>
      </div>
      <div class='col'>
        <div class='form-outline'>
           <label for='height' class='form-label'>Height</label>
          <input
            type='text'
            id='height'
            value={{this.model.height}}
            onchange={{action (mut this.model.height) value='target.value'}}
            class='form-control'
         
          />

        </div>
      </div>
    </div>
    <div class='row mb-4'>
      <div class='col'>
        <div class='form-outline'>
             <label for='language' class='form-label'>Language</label>
          <input
            type='text'
            id='language'
            value={{this.model.language}}
            onchange={{action (mut this.model.language) value='target.value'}}
            class='form-control'
         
          />

        </div>
      </div>
      <div class='col'>
        <div class='form-outline'>
          <label for='pages' class='form-label'>No of Pages</label>
          <input
            type='text'
            id='pages'
            value={{this.model.pages}}
            onchange={{action (mut this.model.pages) value='target.value'}}
            class='form-control'
            
          />

        </div>
      </div>
    </div>

    <div class='mb-3 mt-3'>
      <label for='about' class='form-label'>About the Book</label>
      <textarea
        value={{this.model.about}}
        onchange={{action (mut this.model.about) value='target.value'}}
        class='form-control'
        id='about'
        rows='6'
       
      ></textarea>

    </div>

  

  <div>
    <button
      type='button'
      class='btn btn-outline-success'
      {{action
        this.editPost
        this.model
      }}
    >Save</button>
  </div>
</div>
</div>

{{outlet}}