{{page-title 'GetBooks'}}
<div class='container-fluid'>
  {{#if this.model.length}}

    <div class='btn-group float-end'>
      <button
        type='button'
        class='btn btn-outline-dark dropdown-toggle'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >More Options</button>

      <ul class='dropdown-menu dropdown-menu-end'>
        <li>

          <button
            class='dropdown-item'
            type='button'
            {{action this.deleteSelectedBooks}}
          >Delete</button></li>
      </ul>
    </div>
    <div
      class='d-flex flex-row bd-highlight mb-3 ms-5 me-3 mt-5 justify-content-around flex-wrap'
    >
      {{#each this.model as |book|}}
        <div class='card shadow mb-5 bg-white rounded displayBox'>
          <div class='card-body'>
            <div style='height:80%;'>
              <input
                type='checkbox'
                class='form-check-input'
                name='selectedBooks[]'
                checked={{book.isChecked}}
                onChange={{action this.toggleValue book}}
              />
              <h4 class='card-title bookTitle'>{{book.bookName}}</h4>
              <h3 class='bookPrice mt-3'>${{book.price}}</h3>
              <p>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
              </p>
              <h6 class='card-text mt-3'>By:
                <span class='lead'>{{book.author}}</span></h6>
              <h6 class='card-text mt-3'>Publisher:
                <span class='lead'>{{book.publisher}}</span></h6>

            </div>
            <div class='text-center'>
              <LinkTo
                @route='admin.getBookById'
                @model={{book.id}}
                class='btn mt-3 cardButton'
              >View</LinkTo>
            </div>

          </div>
        </div>

      {{/each}}
    </div>
  {{else}}
    <div class='container text-center position-absolute top-50 start-50 translate-middle'>
      <img
        src='/image/sad.png'
        style='opacity: 0.2;width: 20%;height:30%;'
      />
      <h4 style='opacity: 0.5;position:relative;top:20%;'>No books yet</h4>
    </div>
  {{/if}}
</div>

{{outlet}}