{{page-title 'GetBookById'}}
<BookDetails @model={{this.model}}>
  <h4>More Options</h4>
  <i
    class='fa fa-trash-o btn'
    style='font-size:48px;'
    {{action this.deleteBook this.model}}
  ></i>
  <LinkTo
    @route='admin.editBook'
    @model={{this.model.id}}
    class='fa fa-pencil btn'
    style='font-size:48px;'
  />
</BookDetails>
{{outlet}}